<h2>Refeições do Dia</h2>
<input type="date" [value]="dt" (change)="dt=$event.target.value" />{{chosen | date:"EEEE"}}
<div class="fundo">
    <div (click)="mudaDia(-1)" style="float:bottom;width:30%;height:30%;background:darkred">-</div>
    <div (click)="mudaDia(+1)" style="float:bottom;width:30%;height:30%;background:cornflowerblue">+</div>
    <div class="quebrar">
        <ul>{{dia.dia}}
            <li class="items" *ngFor="let ref of dia.refs" >{{ref.ref}}</li>
        </ul>
    </div>
</div>